.feedContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;

  .feed {
    display: flex;
    flex-direction: column;
    width: 100%;

    .feed_inputContainer {
      box-shadow: 0 1px 2px #aaaa98;
      background: #292929;
      position: sticky;
      top: 65px;
      margin-bottom: 20px;
      min-width: 200px;
      width: 100%;
      border-radius: 0 0 10px 10px;
      color: white;
      border: 1px solid grey;
      z-index: 1;

      .feed_input {
        border-radius: 30px;
        display: flex;
        padding: 40px 0 0 0;
        color: #ff6200;
        width: 380px;
        max-width: 100%;
        margin-left: 20px;
        z-index: 1;

        .TextField {
          color: white;
        }
      }

      .feed_input > form {
        display: flex;
        width: 100%;
      }

      .feed_input > form > input {
        border: none;
        flex: 1;
        margin-left: 10px;
        outline-width: 0;
        font-weight: 600;
      }

      .feed_inputOptions {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .inputOption {
          display: flex;
          align-items: center;
          margin-top: 15px;
          padding: 10px;
          cursor: pointer;
          width: 100%;
          color: #ff6200;

          p {
            padding-left: 10px;
          }

          &:hover {
            background-color: #dca157;
            color: black;
            border-radius: 10px;
          }
        }

        .inputOptions > h4 {
          margin-left: 5px;
        }
      }
    }
  }
}

.send_button {
  right: 10px;
}

.post_container {
  z-index: 0;

  .post {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px #aaaa98;
    background: #292929;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 400px;
    border: 1px solid grey;
    z-index: 0;

    .post_header {
      display: flex;
      width: 100%;
      margin-bottom: 10px;

      .post_info {
        margin-left: 10px;
        color: #ff6200;
      }

      .post_info > p {
        font-size: 12px;
        color: #ff6200;
      }

      .post_info > h2 {
        font-size: 15px;
        color: #ff6200;
      }
    }

    .post_body {
      overflow-wrap: anywhere;

      p {
        color: #ff6200;
      }
    }

    .post_buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      color: #ff6200;

      .inputButton {
        background: transparent;
        border: none;
        cursor: pointer;
        transform: scale(0.8);
        color: #ff6200;

        :hover {
          color: #f67e00;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .feedContainer {

  }
}

@media only screen and (max-width: 1280px) {

  .feedContainer {
    width: 100%;

    .feed {
      .feed_inputContainer {
        .feed_input {
          width: 360px;
          max-width: 100%;
        }

        .feed_inputOptions {
          .inputOption {
            width: 75px;
            transform: scale(0.8);
          }
        }
      }
    }

    .post {
      min-width: 300px;

      .post_buttons {
        transform: scale(0.9);
      }
    }
  }
  .post_container {
    width: 100%;
  }
}