.friendsPage {
  display: flex;
  flex-direction: row;
  margin-left: 130px;
  margin-top: 150px;
  height: 850px;
  max-height: 100%;
  width: 1200px;
  border: 1px solid black;

  .friendsPage_content {
    display: flex;
    padding: 20px;

    .user {
      padding-left: 30px;
    }
  }
}