.friendsPage_container {
  display: flex;
  height: 100vh;

  .friendsPage {
    display: flex;
    margin-top: 180px;
    height: 600px;
    width: 1200px;
    border: 1px solid black;

    .friendsPage_content {
      display: flex;
      padding: 20px;

      .user {
        padding-left: 30px;
      }
    }
  }
}