.friendsPage_container {
  display: flex;
  height: 100vh;

  .friendsPage {
    display: flex;
    margin-top: 180px;
    height: 600px;
    width: 1200px;
    border: 1px solid #ff6200;

    .friendsPage_content {
      display: flex;
      padding: 20px;
      width: 100%;

      .user {
        width: 60px;
        height: 100px;
        color: #ff6200;
      }
    }
  }
}