.widgets {
  position: sticky;
  top: 70px;
  background-color: white;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
  width: 200px;
  z-index: 0;

  .widgets_header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid lightgray;

    .infoIcon {
      margin-bottom: 5px;
    }

    h2 {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .widgets_article {
    display: flex;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: whitesmoke;
    }

    .widgets_articleLeft {
      color: #0177b7;
      margin-right: 5px;

      .MuiSvgIcon-root {
        font-size: 15px;
      }
    }

    .widgets_articleRight {
      flex: 1;

      h4 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
        color: gray;
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .widgets {
    display: none;
  }
}