.leftMenu {
  position: absolute;
  display: flex;
  left: 10px;
  top: 75px;
  height: 400px;
  width: 200px;
  border: 1px solid black;
  background: #baab9d;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  z-index: 2;

  .left_menu_content {
    display: flex;
    margin-top: 100px;
    color: black;
  }
}

.none {
  display: none;
}