.body1 {
    display: grid;
    background: linear-gradient(to bottom left, #79c7c5 40%, #f9fbff 100%);
    font-family: 'Lato', sans-serif;
}

.container1 {
    display: flex;
    width: 620px;
    height: 800px;
}

.messages1 {
    position: absolute;
    background: #f9fbff;
    opacity: 0.5;
    width: 30%;
    height: 70%;
    top: 2.5%;
    left: 5%;
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 5px 10px rgba(119, 119, 119, .5);
}

/*chat messages */
.people {
    position: absolute;
    list-style-type: none;
    width: 30.2%;
    left: -10px;
    top: 24.7%;
    line-height: 0.7em;
}

.people .title {
    text-transform: uppercase;
    font-size: 0.7em;
    margin-left: 14px;
    letter-spacing: 1px;
    color: #777;
}

.people .time {
    font-size: 0.3em;
    color: #777;
    position: absolute;
    right: 10px;
    margin-top: 2px;
}

.people .preview {
    color: #79c7c5;
    margin-left: 14px;
    font-size: 0.5em;
}

.person {
    padding: 12px 0 12px 12px;
    border-bottom: 1px solid #79c7c5;
    cursor: pointer;
}

.person:hover {
    background: #f9fbff;
    transition: all 0.3s ease-in-out;
}

.focus {
    background: #f9fbff;
    margin-left: 1px;
}

.profile {
    position: absolute;
    left: 16%;
    top: 7%;
}

.name2 {
    position: absolute;
    top: 50px;
    left: 2px;
    text-transform: uppercase;
    color: #79c7c5;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 500;
}

.email {
    color: #f9fbff;
    font-size: 0.5em;
    margin-left: -30px;
    margin-top: 2px;
}

.chatBox {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
}

.top-bar {
    width: 100%;
    height: 70px;
    background: cadetblue;
    border-radius: 10px 10px 0 0;
    padding-top: 1px;
}

.top-bar .userAvatar {
    margin-left: 20px;
    margin-top: 6px;
}

.top-bar h3 {
    margin-left: 20px;
}

.avatar1 {
    width: 35px;
    height: 35px;
    background: linear-gradient(to bottom left, #79c7c5 20%, #a1e2d9 100%);
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 15px;
}

.avatar1 p {
    color: #f9fbff;
    margin: 7px 12px;
}

.name1 {
    position: absolute;
    top: 22px;
    text-transform: uppercase;
    color: #777;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 500;
    left: 60px;
}

.menu1 {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

.menu1:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

.middle {
    position: relative;
    background: #f9fbff;
    width: 100%;
    opacity: 0.85;
    max-width: 100%;
    height: 800px;
    overflow-y: auto;
}

.incoming {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.bottom-bar {
    display: flex;
    width: 100%;
    height: 55px;
    background: #f9fbff;
    border-radius: 0 0 10px 10px;
}

.left {
    left: 0px;
}

.input1 {
    padding: 7px;
    width: 74%;
    left: 5%;
    border: 0;
    top: 13px;
    background: #f9fbff;
    color: #79c7c5;
}

.input1::placeholder {
    color: #a1e2d9;
}

.input1:focus {
    color: #777;
    outline: 0;
}
/*Message*/

.message {
    background-color: lightgrey;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%;
}

.message_area {
    width: 100%;
}

.message_header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.message_info {
    margin-left: 10px;
}

.message_info > p {
    font-size: 12px;
    color: gray;
}

.message_body {
    overflow-wrap: anywhere;
}

.message_info > h2 {
    font-size: 15px;
}

.message_buttons {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.myMessage {
    background-color: lightgrey;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 135px;
    border-radius: 10px;
    width: 100%;
}