.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;

  .chatBox {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
    height: 700px;

    .top-bar {
      display: flex;
      width: 100%;
      height: 80px;
      background: cadetblue;
      border-radius: 10px 10px 0 0;
      padding-top: 1px;

      h3 {
        margin-left: 10px;
        margin-top: 18px;
      }

      .userAvatar {
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }

  .messagesContainer {
    position: relative;
    background: #f9fbff;
    width: 100%;
    opacity: 0.85;
    max-width: 100%;
    height: 800px;
    overflow-y: auto;

    .messages {
      position: absolute;
      width: 50%;
      height: 100%;
      padding: 20px;
    }
  }

  .bottom-bar {
    display: flex;
    width: 100%;
    height: 55px;
    background: #f9fbff;
    border-radius: 0 0 10px 10px;

    .input {
      padding: 7px;
      width: 74%;
      left: 5%;
      border: 0;
      top: 13px;
      background: #f9fbff;
      color: #79c7c5;
      border-radius: 0 0 10px 10px;

      &::placeholder {
        color: #a1e2d9;
      }

      &:focus {
        color: #777;
        outline: 0;
      }
    }
  }
}

/*Message*/

.message {
  background-color: lightgrey;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;

  .message_header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    .message_info {
      margin-left: 10px;

      p {
        font-size: 12px;
        color: gray;
      }

      h2 {
        font-size: 15px;
      }
    }
  }

  .message_body {
    overflow-wrap: anywhere;
  }
}

.myMessage {
  background-color: lightgrey;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 135px;
  border-radius: 10px;
  width: 100%;

  .message_header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    .message_info {
      margin-left: 10px;

      p {
        font-size: 12px;
        color: gray;
      }

      h2 {
        font-size: 15px;
      }
    }
  }

  .message_body {
    overflow-wrap: anywhere;
  }
}

@media only screen and (max-width: 415px) {
  .container {
    justify-content: center;

    .chatBox {
      margin-right: 0;
    }
  }
}
