.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  align-items: center;

  .chatBox {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 20px;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.5);

    .top-bar {
      display: flex;
      width: 100%;
      height: 80px;
      background-image: linear-gradient(280deg, black 10%, #b87360 94%);
      border-radius: 10px 10px 0 0;
      padding-top: 1px;

      h3 {
        margin-left: 10px;
        margin-top: 18px;
      }

      .userAvatar {
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }

  .messagesContainer {
    position: relative;
    background: #101010;
    width: 100%;
    opacity: 0.85;
    max-width: 100%;
    height: 800px;
    overflow-y: auto;

    .messages {
      position: absolute;
      width: 50%;
      height: 100%;
      padding: 20px;
    }
  }

  .bottom-bar {
    display: flex;
    width: 100%;
    height: 55px;
    background-image: linear-gradient(280deg, black 100%, #b87360 94%);
    border-radius: 0 0 10px 10px;

    .input {
      padding: 7px;
      width: 74%;
      left: 5%;
      border: 0;
      top: 13px;
      background-image: linear-gradient(280deg, black 10%, #312f2f 94%);
      color: black;
      border-radius: 0 0 10px 10px;

      &::placeholder {
        color: #3b3b3b;
      }

      &:focus {
        color: #ff6200;
        outline: 0;
      }
    }
  }
}

/*Message*/

.message {
  background-color: #313131;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid grey;

  .message_header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    .message_info {
      margin-left: 10px;

      p {
        font-size: 12px;
        color: #ff6200;
      }

      h2 {
        font-size: 15px;
        color: #ff6200;
      }
    }
  }

  .message_body {
    overflow-wrap: anywhere;

    p {
      color: #ff6200;
    }
  }
}

.myMessage {
  background-color: #313131;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 135px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid grey;

  .message_header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    .message_info {
      margin-left: 10px;

      p {
        font-size: 12px;
        color: #ff6200;
      }

      h2 {
        font-size: 15px;
        color: #ff6200;
      }
    }
  }

  .message_body {
    overflow-wrap: anywhere;

    p {
      color: #ff6200;
    }
  }
}

@media only screen and (max-width: 415px) {
  .container {
    justify-content: center;

    .chatBox {
      margin-right: 0;
      height: 600px;
      margin-top: 200px;
    }

    .bottom-bar {
      display: flex;
      width: 100%;
      height: 55px;
      background-image: linear-gradient(280deg, black 100%, #b87360 94%);
      border-radius: 0 0 10px 10px;

      .input {
        font-size: 16px;

        &:focus {
          outline: 0;
          font-size: 16px;
        }
      }
    }
  }
}
