.homePage {
    display: flex;
}
.homeContent {
    background-color: lightslategrey;
    margin-top: 70px;
}

.homeContent img {
    height: 100%;
    max-width: 100%;
}

.none {
    display: none;
}


@media only screen and (min-width: 414px) {
    .homePage {
        position: absolute;
    }
    .homeContent {
        bottom: 3px;
        border-radius: 10px;
        padding-bottom: 157px;
        position: relative;
        max-width: 50%;
        min-height: 266px;
        height: 100%;
    }
    .homeContent img {
        max-width: 100%;
    }
}