.headerOption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 4px;
  min-width: 10px;
  max-width: 100%;
  color: gray;
  cursor: pointer;
}

.header_bar {
  background-image: linear-gradient(280deg, black 10%, #b87360 94%);
  border-bottom: 1px solid #1f1f1f;
}

.menuItem {
  &:hover {
    background: #dca157 !important;
    color: black !important;
  }
}
