.notifications {
  position: absolute;
  right: 10px;
  top: 75px;
  height: 400px;
  width: 200px;
  border: 1px solid black;
  background: #baab9d;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  z-index: 2;

  .notifications_content {
    display: flex;
    margin-top: 100px;
    color: black;
    margin-left: 10px;
  }
}

.none {
  display: none;
}